html{
  /* Sets the Window size */
  width:400px;
  height:300px;

  /* Sets the inital position of the window to center */
  position:absolute;
  top:50%;
  right:50%;
  margin-left:-200px;
  margin-top:-150px;
}
